@use 'styles/variables' as *;


.hb-header {
    background-color: #4D9F71;
    color: white;
    text-align: center;
    align-content: center;
    font-family: "Josefin Sans", sans-serif;
    position: relative;
}

.hb-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(15rem,20vw,20rem);
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.1s ease-in-out;
    transform: translateY(0) scale(1) scaleX(-1);

}

.hb-logo:hover{
     transform: translateY(-1px) scale(1.02) scaleX(-1);
}

.hb-logo-text {
    color: white;
    font-size: 4rem;
    font-weight: 800;

}

.hb-logo img {
    height: 5rem;
    transform: rotateY(180deg);
    translate: 1rem -0.5rem;

}

.hb-header-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4vw;
    padding-block: 2vh;
}



.hb-header-register {
    background-color: #eff170;
    color: #153E42;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.479);

    margin: 0;
    padding: 0.7rem;
    padding-inline: 1.5rem;
    padding-top: 0.9rem;

    border: none;
    border-radius: 50px;

    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    transition: transform 0.1s ease-in-out;
    transform: translateY(0) scale(1);

    cursor: pointer;

}

.hb-header-register:hover {
    transform: translateY(-5px) scale(1.05);
    background-color: #f6f88c;
}

.hb-header-login{
    background-color: transparent;
    border: none;
    font-family: $hb-main-font;
    color: white;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

.hb-header-login:hover{
    text-decoration: underline;
}

.hb-header-links-container {
    display: flex;
    flex-direction: row;

    gap: 30px;

    position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}

.hb-header-links-container button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
}


.hb-header-links-container button:hover {
    text-decoration: underline;
}