@use 'styles/variables' as *;


.hb-header {
    color: white;
    font-family: "Josefin Sans", sans-serif;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: $hb-background;
}

.hb-logo {
    width: fit-content;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.1s ease-in-out;
    transform: translateY(0) scale(1) scaleX(-1);
    padding: 0;

}

.hb-logo:hover {
    transform: translateY(-1px) scale(1.02) scaleX(-1);
}



.hb-logo img {
    height: 5rem;
    width: auto;
    transform: rotateY(180deg);

}

.hb-header-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
    padding-block: 2vh;

    background-color: #4D9F71;
    position: relative;

}



.hb-header-register {
    background-color: #eff170;
    color: #153E42;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.479);

    margin: 0;
    padding: 0.7rem;
    padding-inline: 1.5rem;
    padding-top: 0.9rem;

    border: none;
    border-radius: 50px;

    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    transition: transform 0.1s ease-in-out;
    transform: translateY(0) scale(1);

    cursor: pointer;

}

.hb-header-register:hover {
    transform: translateY(-5px) scale(1.05);
    background-color: #f6f88c;
}

.hb-header-login {
    background-color: transparent;
    border: none;
    font-family: $hb-main-font;
    color: white;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

.hb-header-login:hover {
    text-decoration: underline;
}

.hb-header-links-container {
    flex:  1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    
}

.hb-header-links-container button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
}


.hb-header-links-container button:hover {
    text-decoration: underline;
}

.burger-menu {
    display: none;
    width: 35px;
    height: 25px;

    flex-direction: column;
    justify-content: space-between;

    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hb-overlay {

    display: none;
}

.hb-mobile-menu {

    display: none;
}

.hb-mobile-menu.open {
    display: none;
}



@media (max-width: 1300px) {


    .hb-header-button-container {
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .hb-header-links-container {
        display: none;
    }

    .hb-auth {
        display: none;
    }

    .burger-menu {
        display: flex;
        z-index: 1002;

    }


    .burger-menu.open span:nth-child(1) {
        transform: translate(0px, 10px) rotate(45deg) ;
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: translate(0px, -10px) rotate(-45deg) ;
    }

    .hb-logo img {
        height: 3rem;

    }

    .hb-overlay {
        display: unset;
        position: fixed;
        inset: 0;

        background: rgba(0, 0, 0, 0.35);

        backdrop-filter: blur(2px);

        z-index: 1000;
    }

    .hb-mobile-menu {

        position: fixed;
        top: 0;

        width: fit-content;
        height: 100vh;

        background: #4D9F71;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding-block: 5rem;


        z-index: 1001;

    }

    .hb-mobile-menu.open {
        right: 0;
        display: flex;
    }

    .hb-mobile-menu hr {
        width: 100%;
        color: $hb-highlight-green;
    }

    .hb-mobile-menu button {
        font-family: $hb-main-font;
        padding: 0;
        margin: 0;
        background: none;
        border: 0;
        padding-inline: 4rem;
        padding-block: 1rem;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        font-weight: 800;
    }

    .hb-mobile-menu button:hover {
        background-color: $hb-highlight-green;
    }


}