/* You can add global styles to this file, and also import other style files */

@use 'styles/variables' as *;

:root{
    font-size: 16px;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}


h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

.marker-pin {
  width: 20px;
  height: 20px;
  background-color: #008a1e;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.marker-pin:hover {
  transform: scale(1.5);
  background-color: #015e15;
}