@use '../../styles/variables' as *;

.hb-search-page {
    position: relative;
    background-color: $hb-background;
    overflow: hidden;
    margin-bottom: -15rem;
    width: 100%;
}

#visual {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}


.hb-search-page-content {

    position: relative;
    padding-bottom: 15rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $hb-main-font;
    gap: 5rem;
}

.hb-header-wave {
    position: absolute;
    width: 100%;
    top: 0;
    pointer-events: none;
}

.hb-search-imgdrop {
    background-color: #e9f7ddc7;
    padding-block: 2rem;
    padding-inline: 10rem;
    border-radius: 5rem;

}

.hb-search-imgdrop img {
    width: 15rem;

}

.hb-search-hrcont {
    width: 90vw;
    display: flex;
    flex-direction: row;
}


.hb-search-hrcont hr {
    border: none;
    height: 2px;
    width: 40%;
    margin-top: 0.5rem;
    align-self: baseline;
}


.hr1 {
    background: linear-gradient(to left,
            $hb-light-green 0%,
            transparent 100%);
}

.hr2 {
    background: linear-gradient(to right,
            $hb-light-green 0%,
            transparent 100%);
}





.hb-search-byname {
    border: none;
    width: 60%;
    height: 2rem;
    font-family: $hb-main-font;
    background-color: $hb-light-green;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;

}

.hb-byname-input {
    border: none;
    width: 95%;
    height: 2rem;
    font-family: $hb-main-font;
    background-color: $hb-light-green;
    border-radius: 10px;
    font-size: 1rem;

}

.hb-byname-input:focus {
    outline: none;

}

.hb-byname-icon{
    color: $hb-dark-green;
}

.hb-search-or {
    color: white;
    font-size: 1.5rem;
}

p{
    margin-block: 10rem;
    color: $hb-light-green;
    font-size: 3rem;
    text-align: center;
}