<div class="hb-search-page1">


    <div class="img-cont">

        <svg id="visual" viewBox="0 0 900 900" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">

            <g>
                <path
                    d="M0 61L50 70C100 79 200 97 300 93C400 89 500 63 600 68C700 73 800 109 850 127L900 145L900 0L850 0C800 0 700 0 600 0C500 0 400 0 300 0C200 0 100 0 50 0L0 0Z"
                    fill="#4d9f71" />
                <path
                    d="M0 133L50 169C100 205 200 277 300 314C400 351 500 353 600 333C700 313 800 271 850 250L900 229L900 143L850 125C800 107 700 71 600 66C500 61 400 87 300 91C200 95 100 77 50 68L0 59Z"
                    fill="#277e6a" />
                <path
                    d="M0 343L50 363C100 383 200 423 300 449C400 475 500 487 600 462C700 437 800 375 850 344L900 313L900 227L850 248C800 269 700 311 600 331C500 351 400 349 300 312C200 275 100 203 50 167L0 131Z"
                    fill="#155e5a" />
                <path
                    d="M0 601L50 601C100 601 200 601 300 601C400 601 500 601 600 601C700 601 800 601 850 601L900 601L900 311L850 342C800 373 700 435 600 460C500 485 400 473 300 447C200 421 100 381 50 361L0 341Z"
                    fill="#153e42" />
            </g>

            <g transform="translate(0, 600)">
                <path
                    d="M0 221L37.5 219.8C75 218.7 150 216.3 225 196.8C300 177.3 375 140.7 450 130.3C525 120 600 136 675 132.3C750 128.7 825 105.3 862.5 93.7L900 82L900 0L862.5 0C825 0 750 0 675 0C600 0 525 0 450 0C375 0 300 0 225 0C150 0 75 0 37.5 0L0 0Z"
                    fill="#153E42" />
            </g>


        </svg>
        <div class="dragdrop-cont">
            <div class="dragdrop-text">
                <div class="dragdrop-textbig">
                    Identify any insect instantly!
                </div>
                <div class="dragdrop-textsmall">
                    Drop an image to begin...
                </div>
            </div>

            <button class="hb-search-imgdrop" (click)="fileInput.click()">
                <img src="../../assets/draganddrop.png" alt="Image drag & drop" />
            </button>
            <input type="file" accept="image/*" style="display: none;" (change)="onFileSelected($event)" #fileInput />
        </div>

    </div>



    <div class="hb-search-cont">
        <div class="hb-filters">
            <div class="filters-title">FILTERS</div>
            <label>Color</label>
            <div class="filter-regions-cont">
                @for (clr of this.filters_colors; track $index) {
                <div class="filter-option">
                    <input type="checkbox" class="option-cb" [checked]="this.filters.colors.includes(clr.color)"
                        (change)="toggleArrayFilter('colors', clr.color)" />
                    <label class="option-label">{{clr.color}}</label>
                </div>
                }
            </div>
            <label>Size</label>
            <div class="filter-regions-cont">
                @for (size of this.filters_sizes; track $index) {
                <div class="filter-option">
                    <input type="checkbox" class="option-cb" [checked]="this.filters.sizes.includes(size.size)"
                        (change)="toggleArrayFilter('sizes', size.size)" />
                    <label class="option-label">{{size.size}}</label>
                </div>
                }
            </div>
            <label>Country</label>
            <div class="filter-regions-cont">
                @for (country of this.filters_countries; track $index) {
                <div class="filter-option">
                    <input type="checkbox" class="option-cb"
                        [checked]="this.filters.countryCodes.includes(country.countryCode)"
                        (change)="toggleArrayFilter('countryCodes', country.countryCode)" />
                    <img class="unknown-comment-flag" [src]="'https://flagcdn.com/' + country.countryCode + '.svg'"
                        alt="countryCode" />
                    <div class="country-fullname">{{this.countryData[country.countryCode].name}}</div>
                </div>
                }

            </div>
            <label>Number of Legs</label>
            <input class="filter-number-input" type="number" placeholder="0" min="0" (change)="this.filterChange.next()"
                [(ngModel)]="this.filters.legs" />

            <div class="cb-cont">
                <input type="checkbox" [checked]="filters.wings === true" (change)="toggleBoolFilter('wings', true)" />
                <label>Wings</label>
            </div>
        </div>

        <div class="applied-results">
            <div class="hb-applied-filters">
                APPLIED FILTERS:
                @for (filtClr of this.filters.colors; track $index) {
                <app-applied-filter [filter_name]=filtClr [filter_key]="'colors'"
                    (removed)="toggleArrayFilter('colors', filtClr)" />
                }
                @for (filtCntr of this.filters.countryCodes; track $index) {
                <app-applied-filter [filter_name]=filtCntr [filter_key]="'countries'"
                    (removed)="toggleArrayFilter('countryCodes', filtCntr)" />
                }
                @for (filtSize of this.filters.sizes; track $index) {
                <app-applied-filter [filter_name]=filtSize [filter_key]="'sizes'"
                    (removed)="toggleArrayFilter('sizes', filtSize)" />
                }
                @if (this.filters.legs! != null) {
                <app-applied-filter [filter_name]='`Number of Legs: `+this.filters.legs!.toString()'
                    (removed)="removeLegs()" />
                }
                @if(this.filters.wings! == true){
                <app-applied-filter [filter_name]="this.filters.wings === true ? `Has wings` : `Error`"
                    (removed)="toggleBoolFilter('wings', true)" />

                }
            </div>
            <div class="hb-search-unknown">
                @for (bug of bugs; track $index) {
                <app-unknown-bug-image [bug]="bug" [countryCode]="bug.countryCode" [size]="size_of_comp"
                    [routerLink]="'unknown/' + bug.id" />
                }
            </div>
            @if (this.isLoading) {
            <span class="loader"></span>
            }
            @if(!this.hasMore && !this.isLoading){
            <div class="nomore">No more insects to load...</div>
            }
        </div>
    </div>
</div>