.hb-footer{
   
position: relative;
overflow: hidden;
}

.hb-footer-sqarepart{
 background-image: linear-gradient(#153E42, #4D9F71);
    padding: 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: white;
margin: 0;
}

.hb-footer-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.hb-name-cont{
    margin-block: 10rem;
    display: flex;
    flex-direction: column;
    margin-block: 5rem ;
    align-self: center;
}


.hb-footer-name{
    width: clamp(2rem,50vw,40rem);
}

.hb-copyright{
    color: rgba(255, 255, 255, 0.5);
}

.hb-footer-links{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.hb-footer-links hr{
    width: 10rem;
}

.hb-footer-links h3{
    color: rgba(255, 255, 255, 0.5);
}

.hb-footer-links button{
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;  
    font-size: 1.2rem;
    padding: 0;  
    margin-block: 1rem;
}

.hb-footer-links button:hover{
    text-decoration: underline;
}


.hb-links-core{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hb-links-info{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hb-footer-logodeco{
    width: clamp(20rem,20vw,25rem);
    position: absolute;
    pointer-events: none;
    z-index: 0;
    top: 20%;
    right: 50%;
    transform: translate(50%, 30%);
    rotate: -30deg;
}