@use "styles/variables" as *;

.hb-knownbug-page {
    background-color: $hb-background;
    font-family: $hb-main-font;

    margin-bottom: -15rem;
    padding-bottom: 15rem;

    display: flex;
    flex-direction: column;

}

.known-cont {
    padding-inline: 4rem;
    margin-top: -5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.known-name-img {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-bottom: 6rem;

}

.known-name {
    color: $hb-dark-green;
    text-align: left;
}

.name-common {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.name-latin {
    font-size: 2rem;
    color: $hb-light-green;

}

.known-img {
    width: 50rem;
    border-radius: 3rem;

}

.map-title {
    font-size: 1.5rem;
    text-align: center;
}

.known-location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    margin-bottom: 6rem;
}

#location-map {
    width: 55rem;
    height: 25rem;
}

.known-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.location-habitat {
    background-color: $hb-yellow;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: $hb-box-shadow;
    width: fit-content;
    height: fit-content;
    color: $hb-dark-green;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.habitat-title {
    font-size: 2rem;
    text-align: center;

}

.habitat-info {
    font-size: 1.5rem;
}

.info-taxonomy {
    background-color: $hb-yellow;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: $hb-box-shadow;
    width: fit-content;
    height: fit-content;

    color: $hb-dark-green;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.taxonomy-title {
    font-size: 2rem;
    text-align: center;
}

.taxonomy-item {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;

    font-size: 1.5rem;
}

.item-link {
    text-decoration: underline;
    cursor: pointer;
}

.info-visual {
    background-color: $hb-yellow;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: $hb-box-shadow;
    width: fit-content;
    height: fit-content;

    color: $hb-dark-green;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.visual-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.visual-title {
    font-size: 2rem;
    text-align: center;
}

.visual-item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.info-cont {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
}

.info-important {
    padding: 2rem;
    background-image: linear-gradient($hb-light-green -40%, $hb-dark-green 100%);
    color: white;
    border-radius: 2rem;
    box-shadow: $hb-box-shadow;

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.important-title {
    font-size: 2rem;
    text-align: center;
}

.important-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.important-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 3rem;
    font-size: 1.5rem;
    align-items: center;
}

.info-overview {
    padding: 2rem;
    background-image: linear-gradient($hb-light-green -40%, $hb-dark-green 100%);
    color: white;
    border-radius: 2rem;
    box-shadow: $hb-box-shadow;

    width: 50%;
    height: fit-content;
}

.overview-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.overview-data {
    font-size: 1.5rem;
    line-height: 1.9rem;

}

.known-tags {
    width: fit-content;
    height: fit-content;

    color: $hb-dark-green;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;

    font-size: 1.5rem;
}



.tags-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-item {
    font-family: $hb-main-font;
    background-color: $hb-gray;
    color: white;
    padding: 0.8rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    box-shadow: $hb-box-shadow;
    border: none;
    font-size: 1.5rem;

}

.tag-item:hover {
    background-color: $hb-gray-hover;
    cursor: pointer;
}