@use 'styles/variables' as *;

.comment {
    border-radius: 1rem;
    border: 3px solid $hb-light-green;

    height: fit-content;
    width: 70%;
    gap: 2rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.rate-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.rate-section button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}


.username {
    font-size: 2rem;
}

.comment-text {
    font-size: 1rem;
    font-weight: 400;
}

.icon-up:hover {
    color: $hb-light-green;
}

.icon-down:hover{
    color: rgb(194, 58, 5);
}