@use 'styles/variables' as *;

.comment {
    border-radius: 1rem;

    height: fit-content;
    gap: 2rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;


}

.rate-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.rate-section button {
    border: none;
    background-color: transparent;


}

.rate-section button:not(:disabled) .icon-up:hover {
    color: $hb-light-green;
    cursor: pointer;
}

.rate-section button:not(:disabled) .icon-down:hover {
    color: rgb(194, 58, 5);
    cursor: pointer;
}

.rate-section button:not(:disabled) .icon-up.active {
    color: rgb(201, 107, 0);
    cursor: pointer;
}

.rate-section button:not(:disabled) .icon-down.active {
    color: rgb(201, 107, 0);
    cursor: pointer;
}



.comment-text {
    font-size: 1rem;
    font-weight: 400;
}



.rate-section button:disabled .icon-up,
.rate-section button:disabled .icon-down {
    color: rgb(121, 121, 121);
    cursor: not-allowed;
    opacity: 0.6;
}

.username {
    font-size: clamp(1rem, 5vw, 2rem);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
}

.user-rating {
    font-size: 1rem;
    font-weight: 300;
}

.bug-link {
    color: $hb-light-green;
    cursor: pointer;
}