@use 'styles/variables' as *;

svg {
    margin-bottom: -5rem;
}

.unknown-bug-page {
    background-color: $hb-background;
    margin-bottom: -15rem;

    font-family: $hb-main-font;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.unknown-bug-image {
    width: 25rem;
    height: auto;
    object-fit: contain;
    margin-inline: 4rem;


}

.unknown-user-placed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 5rem;
    justify-content: center;
    gap: 3rem;
    align-items: center;


}


.unknown-bug-text {
    min-width: 60rem;
    flex: 1;
    height: fit-content;
    margin-inline: 7rem;

    background-color: white;
    border-radius: 3rem;
    box-shadow: $hb-box-shadow;

    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

    position: relative;
    text-overflow: ellipsis;



}

.unknown-text-profile {
    position: absolute;
    top: -5rem;
    left: -5rem;
    background-color: white;
    box-shadow: $hb-box-shadow;
    border-radius: 50%;

    width: 10rem;
    height: 10rem;

}

.unknown-text-profile img {
    width: 5rem;
    position: absolute;
    top: 15%;
    left: 25%;
}

.unknown-username {
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding-top: 2rem;
    padding-inline: 6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.unknown-comment-flag {
    width: clamp(2rem, 6vw, 5rem);
}

.unknown-username span {
    color: $hb-light-green;
    text-decoration: underline;

    cursor: pointer;
}

.unknown-comment {
    align-self: center;
    width: 90%;
    text-align: justify;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 300;



}

.unknown-community {
    width: 95%;
    height: fit-content;
    background-color: white;
    padding-bottom: 15rem;
    box-shadow: $hb-box-shadow;
    border-radius: 3rem;

}

.unknown-community h1 {
    margin-top: 2rem;
    margin-left: 3rem;

    margin-bottom: 3rem;
}

.unknown-community-comments {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-inline: 1.5rem;
}

.unknown-community-comments app-input-comment {
    align-self: center;
}

.comment-cont {
    display: flex;
    flex-wrap: nowrap;

    gap: 1rem;
    align-items: end;
    width: 100%;
    justify-content: center;
}

.input-comment {
    font-family: $hb-main-font;

    font-size: 1.2rem;

    outline: none;
    border: none;
    border-bottom: 1px solid black;

    max-height: 10rem;
    max-width: 80rem;

    width: 100%;


}

.submit-comment {
    font-family: $hb-main-font;

    cursor: pointer;

    border: none;
    background-color: $hb-light-green;
    color: white;
    padding: 0.5rem;

    font-size: 1rem;

    border-radius: 10px;

    transition: background-color 0.1s ease-in-out;

}

.submit-comment:hover {
    background-color: $hb-dark-green;
}

@media (max-width: 1300px) {

    .unknown-user-placed {
        flex-direction: column;
        align-items: center;
    }

    .unknown-bug-text {
        min-width: 0 ;
        max-width: 100%;
        border-radius: 0;
        padding-inline: 2rem;
        margin-inline: 0;
    }

    .unknown-bug-image {
        margin-inline: 0;
        width: clamp(15rem, 65vw, 20rem);
        height: auto;
    }


    .unknown-username {
        font-size: clamp(1rem, 1.5vw, 2rem);
        padding-inline: 0rem;
        justify-content: space-between;
    }

    .unknown-comment-flag {
        width: clamp(2rem, 6vw, 5rem);
    }

    .unknown-text-profile {
        visibility: hidden;
    }

    .unknown-comment {
        width: 100%;
        font-size: clamp(1rem, 5vw, 1.5rem);

    }

    .input-comment {
        max-width: 15rem;
    }


}