<div class="hb-profile-page">



    <div class="hb-profile-tabs-cont">
        <div class="hb-avatar-circle" id="first"></div>
        <div class="hb-avatar-circle" id="second"></div>
        <div class="hb-profile-tabs">
            <div class="hb-tabs-buttons">
                <button (click)="selectTab('info')" [class.btn-selected]="active_tab ==='info'">Info</button>
                <button (click)="selectTab('scans')" [class.btn-selected]="active_tab ==='scans'">My Scans</button>
                <button (click)="selectTab('saved')" [class.btn-selected]="active_tab ==='saved'">Saved Bugs</button>
            </div>
        </div>
        @if(user.gender == "male"){
            <img src="assets/profileavatarmale.png" alt="Male profile avatar" />
        }
        @if(user.gender == "female"){
            <img src="assets/profileavatarfemale.png" alt="Male profile avatar" />
        }
    </div>


    <div class="hb-profile-info-tab">
        <div class="hb-info-whiterec"></div>
        @if(active_tab === 'info'){
        <h1 class="hb-info-title">My Info</h1>
        <div class="hb-info-section">
            <div>
                <p class="hb-profile-hint-text">Name</p>
                <p class="hb-profile-text">{{this.user.name}}</p>
            </div>
            <div>
                <p class="hb-profile-hint-text">Surname</p>
                <p class="hb-profile-text">{{this.user.surname}}</p>
            </div>
            <div>
                <p class="hb-profile-hint-text">Email</p>
                <p class="hb-profile-text">{{this.user.email}}</p>
            </div>
            <div>
                <p class="hb-profile-hint-text">Gender</p>
                <p class="hb-profile-text">{{this.user.gender.toUpperCase()}}</p>
            </div>
        </div>
        <h1 class="hb-info-title">HomeBug Info</h1>
        <div class="hb-info-section">
            <div>
                <p class="hb-profile-hint-text">Unknown bugs scanned</p>
                <p class="hb-profile-text">{{this.user.unknown_bugs_scanned}}</p>
            </div>
            <div>
                <p class="hb-profile-hint-text">Comments helping others</p>
                <p class="hb-profile-text">{{this.user.comments_helping_others}}</p>
            </div>
            <div>
                <p class="hb-profile-hint-text">Reputation </p>
                <p class="hb-profile-text">{{reputations[userReputation]}}</p>
            </div>
            <div>
                <p class="hb-profile-hint-text">Users rated</p>
                <p class="hb-profile-text">{{this.user.other_users_rated}}</p>
            </div>
        </div>
        }
        @else if (active_tab === 'scans') {
        <div class="hb-images-part">
            <div>

                <h1 class="hb-info-title">Scanned successfully</h1>
                <div class="hb-bug-section">
                    @for (scanned of this.user.known_scans ; track $index) {
                    <app-unknown-bug-image [size]="11" [country_show]="false" />
                    }
                </div>
            </div>
            <div>

                <h1 class="hb-info-title">Unknown bugs</h1>
                <div class="hb-bug-section">
                    @for (scanned of this.user.unknown_scans ; track $index) {
                    <app-unknown-bug-image [size]="11" [country_show]="true" [bug]=scanned [routerLink]="'../search/unknown/' + scanned.id" />
                    }
                </div>
            </div>
        </div>
        }
        @else if (active_tab === 'saved') {
        <div class="hb-images-part">
            <div>
                <h1 class="hb-info-title">Saved bugs</h1>
                <div class="hb-bug-section">
                    @for (saved of this.user.saved_bugs ; track $index) {
                        <app-unknown-bug-image [size]="11" [country_show]="false" [kbug]=saved [routerLink]="'/encyclopedia/known/' + saved.id  "/>
                    }
                </div>
            </div>
        </div>

        }


    </div>


</div>