@use 'styles/variables' as *;

.hb-encyclopedia-page {
    background-color: $hb-background;
    font-family: $hb-main-font;

    margin-bottom: -15rem;
    padding-bottom: 15rem;

    display: flex;
    flex-direction: column;
}

.hb-encyclopedia-title {
    font-size: 4rem;

    margin-left: 3rem;

    color: $hb-dark-green;
}

.hb-encyclopedia-title p {
    font-size: 2rem;
    margin: 0;

    color: $hb-light-green;
}

.hb-cont {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-inline: 3rem;
    gap: 3rem;
}

.hb-filters{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    padding: 4rem;
    height: fit-content;
    margin-top: 6rem;

    font-size: 2rem;
    font-weight: 600;

    color: white;
    background-color: $hb-light-green;
    border-radius: 2rem;
}

.hb-filt-bugs{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;

}

.hb-applied-filters{
    width: 100%;

    font-size: 1.5rem;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: end;
}

.hb-bugs-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.hb-numeration{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}