@use 'styles/variables' as *;

.hb-encyclopedia-page {
    background-color: $hb-background;
    font-family: $hb-main-font;

    margin-bottom: -15rem;
    padding-bottom: 15rem;

    display: flex;
    flex-direction: column;
}

.hb-encyclopedia-title {
    font-size: clamp(2rem, 5vw, 4rem);

    margin-left: 3rem;

    color: $hb-dark-green;
}

.hb-encyclopedia-title p {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin: 0;

    color: $hb-light-green;
}

.hb-cont {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-inline: 3rem;
    gap: 3rem;
}

.hb-filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 4rem;
    height: fit-content;

    font-size: 2rem;
    font-weight: 600;

    
    min-width: 20rem;
    max-width: 20rem;

    color: $hb-light-green;
    background-color: white;
    border-radius: 2rem;
    box-shadow: $hb-box-shadow;
    border: 2px solid $hb-light-green;
    outline: 2px solid white;
}

.filters-title {
    font-size: 3rem;
    color: $hb-dark-green;

}

.filter-submit {
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: $hb-box-shadow;
    font-size: 1.5rem;
    font-family: $hb-main-font;
    color: white;
    background-color: $hb-light-green;
    border: none;
    width: 10rem;
    height: 3rem;
    align-self: flex-end;
    margin-top: 2rem;
}

.filter-submit:hover {
    background-color: $hb-highlight-green;
}

.hb-filt-bugs {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;
}

.hb-applied-filters {
    width: 100%;

    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.hb-bugs-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.hb-numeration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

.filter-regions-cont {
    height: 8rem;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

.filter-option {
    width: 5rem;
    border-bottom: 1px solid $hb-dark-green;
    width: 90%;
}

.option-label {
    font-size: 1rem;
    margin-left: 1rem;
}

.filter-number-input {
    font-family: $hb-main-font;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 4rem;

}

.cb-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: $hb-dark-green $hb-dark-green transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    align-self: center;
    margin-block: 2rem;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent $hb-light-green $hb-light-green;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.nomore {
    align-self: center;
    margin-block: 2rem;
}


@media (max-width: 1200px) {
    .hb-cont {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-inline: 3rem;
        gap: 3rem;
    }

    .hb-filters {
        margin-top: 0rem;
    }

    .hb-encyclopedia-title {
        margin-top: 2rem;
    }

}