$hb-light-green: #4D9F71;
$hb-dark-green: #153E42;
$hb-background: #e8f3ec;
$hb-yellow: #eff170;
$hb-yellow-hover: #f6f88c;

$hb-main-font: "Josefin Sans", sans-serif;


$hb-box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.15);