$hb-highlight-green: #34794b;
$hb-light-green: #4D9F71;
$hb-lighter-green: #69d196;
$hb-dark-green: #153E42;
$hb-background: #e9f7dd;
$hb-yellow: #eff170;
$hb-yellow-hover: #f6f88c;
$hb-red: #c23a05;

$hb-main-font: "Josefin Sans", sans-serif;


$hb-box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.15);