@use 'styles/variables/' as *;

.hb-ap-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;

    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    
    background-color: $hb-light-green;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 2rem;
}

button{
    border: none;
    background-color: $hb-lighter-green;
    font-size: 1rem;
    
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    color: $hb-dark-green;
    font-weight: 600;
    transition: background-color 0.1s ease-in-out;

    cursor: pointer;
}


button:hover{
    background-color: $hb-highlight-green;
}