@use 'styles/variables' as *;

.contact-page {
    background-color: $hb-background;

    margin-bottom: -15rem;
    padding-bottom: 15rem;

    font-family: $hb-main-font;

}


.contact-cont {

    padding-inline: clamp(0rem, 5vw, 10rem);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

@media (max-width: 600px) {
    .contact-cont{
        flex-wrap: wrap;
    }
}

.contact-cont img {
    width: clamp(10rem, 30vw, 30rem);
}

.text-title {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 600;

    color: $hb-light-green;
}

.contact-text {
    font-size: clamp(1rem, 4vw, 2rem);
}