@use '../../styles/variables' as *;


.hb-page-landing {
    margin: 0;
    border: none;
    padding: 0;
    background-color: $hb-background;
    margin-bottom: -10rem;
    padding-bottom: 10rem;
}

.hb-landing-findout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;

}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right,
            transparent 0%,
            #4D9F71 10%,
            #4D9F71 90%,
            transparent 100%);
    width: 90%;
    margin: 2rem auto;
    border-radius: 50%;
}

.hb-findout-background {
    background-image: linear-gradient(#4D9F71, #153E42);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hb-findout-background h1 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: clamp(2rem, 15vw, 4rem);
    margin-bottom: 1.5rem;
}

.hb-findout-background h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.664);
    font-weight: 800;
    font-size: 2rem;
}




.hb-image-cont {
    margin-top: 3rem;
    z-index: 0;
}

.hb-findout-text {
    color: rgba(255, 255, 255, 0.5);
    z-index: 3;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-align: center;
    font-weight: 800;
    margin-block: 0;

}






.hb-landing-picture3 {
    width: clamp(10rem, 85vw, 50rem);

}


@media only screen and (max-width: 600px) {
    .hb-landing-picture1 {
        width: 8rem;
        border-radius: 1rem;
        box-shadow: 0 1rem 30px 1px black;
        translate: -0.5rem 0rem;
        transform: rotate(5deg);
    }

    .hb-landing-picture2 {
        width: 6rem;
        min-width: 5rem;
        border-radius: 1rem;
        box-shadow: 0 1rem 30px 1px black;
        translate: 0.5rem -1rem;
        transform: rotate(-8deg) rotateY(180deg);
    }
}

.hb-landing-nomore {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.hb-nomore {
    font-family: "Staatliches", sans-serif;
    color: #153E42;
    margin-block: 2rem;
    font-size: 2rem;

}

.hb-cycle {
    font-family: "Josefin Sans", sans-serif;
    color: #4D9F71;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 5rem);
    font-weight: 800;
    position: absolute;
    margin-top: 10rem;
    animation: changeWord 5s ease-in-out infinite;
    animation-delay: 1s;

}

.hb-white-rect {
    background: linear-gradient(transparent 0%, $hb-background 15%, $hb-background 100%);
    width: 100%;
    height: 11rem;
    translate: 0 13.2rem;
    position: absolute;
}

@keyframes changeWord {
    0% {
        translate: 0 0;
    }

    75% {
        translate: 0 0;
    }

    85% {
        translate: 0 10rem;
    }


}

.hb-landing-explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.explain-image {
    width: clamp(20rem, 25vw, 40rem);
}

.hb-landing-explain p {
    align-self: center;
    width: 50vw;
}


.hb-explain-search {
    gap: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: "Josefin Sans", sans-serif;
    color: $hb-dark-green;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    max-width: 80vw;
}

.hb-explain-text1{
    align-self: center;
    text-align: left;
}

.hb-explain-text2{
    align-self: center;
    text-align: right;
}

.hb-explain-text1 h2{
    color: $hb-light-green;
}

.hb-explain-text2 h2{
    color: $hb-light-green;
}


.magnifying-image-cont {
    position: relative;
    width: clamp(10rem, 20vw, 30rem);
}

.magnifying-image-1 {
    width: 100%;
    display: block;
    
}

.magnifying-image-2 {
    position: absolute;
    top: 11%;
    left: 29%;
    width: 60%;
    filter: blur(0.5rem);
    transition: filter 1s ease-in-out;
    
}

.magnifying-image-2:hover {
    filter:blur(0rem);
}

.hb-magn-popup{
    position: absolute;
    overflow: hidden;
    border-radius: 50px;
    background-image:linear-gradient(to bottom right,#153E42 , #4D9F71) ;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.219);
    color: white;
    padding: 1rem;
    visibility: hidden;

    pointer-events: none;
    font-size:  clamp(1rem, 2vw, 2rem);
    transform-origin: center;
}

@media only screen and (max-width: 1200px) {

    .magnifying-image-2 {
        position: absolute;
        top: 11%;
        left: 29%;
        width: 60%;
        animation: bluring1 5s ease-in-out infinite;
    }


    @keyframes bluring1 {
        0% {
            filter: blur(0.5rem);
        }

        40% {
            filter: blur(0);
        }

        60% {
            filter: blur(0);
        }

        100% {
            filter: blur(0.5rem);
        }

    }

    .magnifying-image-2:hover {
        animation: bluring1 5s ease-in-out infinite;
    }
}


.hb-explain-learn {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: "Josefin Sans", sans-serif;
    color: #153E42;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    max-width: 80vw;

}

.hb-explain-photo {
    gap: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: "Josefin Sans", sans-serif;
    color: #153E42;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    max-width: 80vw;

}

.hb-explain-help {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: "Josefin Sans", sans-serif;
    color: #153E42;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    max-width: 80vw;

}

@media only screen and (max-width: 1200px) {

    .hb-landing-explain p {
        align-self: center;
        width: 85vw;
    }

    .hb-explain-search {
        gap: 2rem;
        display: flex;
        flex-direction: column-reverse;
        font-family: "Josefin Sans", sans-serif;
        color: #153E42;
        font-size: clamp(1rem, 5vw, 2rem);
        text-align: center;
        max-width: 80vw;
        align-items: center;

    }


    .hb-explain-learn {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        font-family: "Josefin Sans", sans-serif;
        color: #153E42;
        font-size: clamp(1rem, 5vw, 2rem);
        text-align: center;
        max-width: 80vw;
        align-items: center;

    }

    .hb-explain-photo {
        gap: 2rem;
        display: flex;
        flex-direction: column-reverse;
        font-family: "Josefin Sans", sans-serif;
        color: #153E42;
        font-size: clamp(1rem, 5vw, 2rem);
        text-align: center;
        max-width: 80vw;
        align-items: center;

    }

    .hb-explain-help {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        font-family: "Josefin Sans", sans-serif;
        color: #153E42;
        font-size: clamp(1rem, 5vw, 2rem);
        text-align: center;
        max-width: 80vw;
        align-items: center;

    }

   
}